*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
   
}


.header-content{
    width: 100%;
    height: 80px;
    background-color:#f4f4f4;
    display: flex;
    justify-content: space-between;
  
}

.header-logo{
    width: 220px;
    height: 50px;
    margin:20px 40px;
    display: flex;
    align-items: center;

}

.header-logo img{
    width: 40px;
    height: 40px;
    border-radius: 30%;
}

.header-logo h1{
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color:#8b8b92;
   white-space: pre-wrap;
    position: absolute;
    margin-left: -30px;
    
}

.header-icon{
    width: 540px;
    height: 50px;
    margin-top: 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.cursor{
    width: 20px;
    height: 20px;
    font-size: 20px;
    font-weight: bolder;
    
}

.search-icon{
    width: 15px;
    height: 15px;
    border:2px solid gray;
    border-radius: 50%;
    position: relative;
}

.handle{
    position: absolute;
    width:2px;
    height: 8px;
    background-color: grey;
    left: 120%;
    transform: translateX(-50%) rotate(-30deg);
    bottom: -8px;
    border-radius: 3px;
}

.bell-icon{
    width: 24px;
    height: 24px;
    background-size: cover;
    cursor:pointer;
    background-image: url(photo/bell.png);
   
}

.half-moon-icon{
    width: 20px;
    height: 2opx;

}



.menu-icon{
    width: 40px;
    height: 40px;
    background-color: #eaeaea;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle-container{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.square-icon{
    width: 4px;
    height:4px;
    background-color: black;
    margin: 1px;
}

.profile{
    width: 210px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    background-color: #eaeaea;
    transition:0.5s;
}

.profile:hover{
    background-color: #e1e1e1;
}


.profile-icon img{
    width:30px;
    height: 30px;
    border-radius: 50%;
    margin:5px;
    background-color:#ff600a ;
}

.profile h2{
  font-size: 13px;
  margin: 7px 5px;
}


.cursor{
    transform: rotate(180deg);
    margin-top: 5px;
    text-align: center;
    font-size: medium;
    font-weight:bolder;
    transition: 0.5s;
}
.profile:hover .cursor{
   margin-top:10px;
}

.language{
    font-size: medium;
    font-weight: bold;
    margin-right:10px ;
}

.nav-menu{
    width: 100%;
    height: 60px;
    background-color: #fe5f0a; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu li{
    display: inline;   
}

.nav-menu a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 15px;
}


.section-boxes{
    background-color: #f4f4f4;
    display: flex;
    justify-content:space-between;

}

.financial-box{
    width: 50%;
    padding: 0 25px;
   
}

.available-money{
    width: 640px;
    height: 150px;
    background-color: #fcfcfc;
    margin-top: 30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;


}

.header-title{
    font-size: 20px;
    margin-left: 25px;
}

.total-amount{
    font-size: 20px;
    font-weight: bold;
    margin-left: 25px;

}

.information-data{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.currency{
    font-size: 18px;
    color: #333;
    margin:0px 25px;
}

.row1{
    width: 640px;
    height: 65px;
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2px;
    transition: 0.5s;
}

.row1:hover {
    background-color:#e7e6e6 ;
 }

.service-account{
    font-size: 16px;
    color:#333;
    margin-left: 100px;
}

.amount{
    font-size: 18px;
    font-weight: bold;
    margin-right: 15px;
}

.row1 button{
    border-radius: 15px;
    padding: 5px 10px;
    margin-right:100px;
    transition: 0.5s;
}

.row1 button:hover{
    transform: scale(1.1);
}

.row2{
    width: 640px;
    height: 65px;
    background-color: #fcfcfc;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.row2:hover {
    background-color:#e7e6e6 ;
 }

.row2 button{
    border-radius: 15px;
    padding: 5px 10px;
    margin-right: 100px;
    transition: 0.5s;
}

.row2 button:hover{
    transform: scale(1.1);
}


.revenue-service{
    width: 640px;
    height: 100px;
    background-color: #fcfcfc;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.revenue-service:hover{
    background-color: #e7e6e6
}

.revenue-service img{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-left: 25px;
}

.text-info{
   line-height: 1.5;
   margin-left: 15px;    
}

.text-info h1{
    font-size: 20px;
    color: #2d2d2e;
}

.text-info p{
    font-size: 18px;
    color: #9f9b96;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, Courier, monospace;
}

.text-info a{
    text-decoration: none;
    color: orangered;
}

.plus-score{
    width: 640px;
    height: 200px;
    background-color:#fcfcfc ;
    margin-top: 15px;
    border-radius: 10px;
}

.title{
    height: 95px;
    padding: 40px 25px;
}

.title h3{
    color: #221414;

}

.loyalty-box{
    height: 105px;
    display: flex;
}

.photo-logo{
    margin: 20px 25px;
}

.PLUS-score-info{
    margin: 20px -7px;
}

.score-money{
    width: 65px;
    height: 20px;
    background-color: #e8e8e8;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: size 16px;;
}

.credit-offer{
    width: 640px;
    height: 260px;
    background-color: #fcfcfc;
    margin-top: 15px;
    border-radius: 10px;
    padding: 30px;
}

.icon-offer{
    width: 50px;
    height: 50px;
   background-image: url(photo/offer.png);
   padding: 30px;
  
}

.offer-box{
    display: flex;
}

.offer-box h3{
    font-size: 20px;
    margin: 20px 10px;
}

.offer-off{
    width: 100px;
    height: 20px;
    border-radius: 20px;
    margin: 25px 5px;
    background-color: #e22820;
    color: #f8e8ee;
    font-size: small;
    font-weight: bold;
    text-align: center;
}

.credit-offer p{
    white-space:pre ;
   margin: -30px -100px;
}

.power-button{
    margin: 10px 10px;
    color: #ff9c5e;
    font-size: large;
}

.all-offer{
    width: 640px;
    height: 490px;
    background-color: #fcfcfc;
    margin-top: 15px;
    border-radius: 10px;
   
    
}

.offer-title-box{
    height: 30px;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.all-offer-container{
    display: flex;
    justify-content: space-around;
}

.offer-title{
    width: 200px;
    height: 30px;
    margin-top: 40px;
    color: #323232;
    
}

.all-offer-title{
    display: flex;
    width: 250px;
    height: 30px;
    margin-top: 40px;
    margin-right: 30px;
}

.all-offer-title img{
    width: 30px;
    height: 30px;
}

.all-offer-title h3{
    margin: 0 10px;
    color: #f87631;

}

.arrow{
    font-weight: bold;
    font-size: 24px;
    margin: 5px 14px;
    color: hsl(0, 2%, 47%);
}

.health-box{
    width: 280px;
    height: 290px;
    margin-top: 80px;
    border: 1px solid grey;
    border-radius: 10px;
}

.photo-clinic{
    height: 155px;
    background-image: url(photo/clinic.png);
}

.clinic-info{
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 25px;

}

.clinic-title{
    font-weight: bold;
}

.clinic-name{
    width: 65px;
    height: 20px;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.clinic-name p{
    font-size: small;
    text-align: center;
}

.offer-day-box{
    display: flex;
}

.circle{
    width: 10px;
    height:10px;
    border-radius: 50%;
    background-color: black;
    margin-top: 5px;
}

.offer-day{
    margin: 0 10px;
    font-size: small;
}

.rest-box{
    width: 280px;
    height: 290px; 
    margin-top: 80px;
    border: 1px solid grey;
    border-radius: 10px;
}


.photo-hotel{
    height: 155px;
    background-image: url(photo/hotel.png);
   }

.hotel-info{
    height: 135px;
    display: flex;
    flex-direction: column;
    justify-content:space-around ;
    margin: 0 25px;
} 

.hotel-title{
    font-weight: bold;
}

.hotel-name{
    width: 80px;
    height:20px;
    border-radius: 20px;
    background-color: #f2f2f2;
}

.hotel-name p{
    font-size: small;
    text-align: center;
}

.other-offer-container{
    width: 300px;
    height: 50px;
    margin: 0 160px;
}

.direction{
    display: flex;
    justify-content: space-around;
    margin:30px 70px;
}

.left-arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.right-arrow{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.lack-symbol{
    font-size: 24px;
    margin:5px 10px;
    font-weight: bold;
    color: #d9d6d6;
}
.excess-symbol{
    font-size: 24px;
    margin:5px 13px;
    font-weight: bold;
    color: #d9d6d6;
}

.point{
    font-size: 60px;
    margin-top: -30px;
    color: #d9d6d6;
    transition: 0.5s;
}

.point:hover{
    color: orangered;
}

.right-arrow:hover{
    background-color: #f2f2f2;
}

.left-arrow:hover{
    background-color: #f2f2f2;
}
   

.pension-fond-container{
    width: 640px;
    height:120px;
    background-color:#fcfcfc ;
    margin-top: 15px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.fond{
    width: 300px;
    height: 100px;
}

.fond h3{
    font-size: large;
    font-weight: lighter;
    color: #393838;
    margin: 30px 30px;
}

.activation{
    margin: -20px 30px;
    color: #ff6e1d;
}

.fond-logo{
    width: 300px;
    height: 100px;
}

.fond-logo img{
    margin: 35px 150px;
}


.currency-exchange{
    margin-top: 20px;
    width: 640px;
    height: 130px;
    border-bottom: 1px solid #dedbdb;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fcfcfc;
}

.currency-rates{
display: flex;
justify-content: space-between;
}

.currency-rates img{
    width: 30px;
    height: 30px;
    margin-top: 40px;
    margin-left:220px;
}

.currency-rates p{
    font-size: medium;
    font-weight: lighter;
    color: #ff6c1d;
    margin-top: 40px;
    margin-right: 40px;
}

.currency-info{
display: flex;
justify-content: space-between;
}

.currency-rates h3{
   font-size: large;
   color: #323232;
   margin: 40px 30px;
}

.currency-info{
    display: flex;
    margin-top: -15px;
    color: #8b8b92
}

.info-box{
    display: flex;
    margin: 10px 30px;
}

.info-box p{
    margin-left: 40px;
}


.bank-cours{
    margin-right: 40px;
    margin-top: 10px;
}

.exchange-box{
    width: 640px;
    height: 50px;
    color: #a4a1a1;
    border-bottom: 1px solid #dedbdb;
    background-color: #fcfcfc;
    display: flex;
}

.buy-money{
    margin-top: 10px;
    margin-left: 450px;

}

.sell-money{
    margin-top: 10px;
    margin-left: 45px;
}

.dollar-exchange{
    width: 640px;
    height: 75px;
    border-bottom: 1px solid #dedbdb;
    background-color: #fcfcfc;
    display: flex;
}

.official-course{
    display: flex;
}

.official-course img{
    width: 43px;
    height: 43px;
    margin: 10px 25px;
}

.active-course{
    margin: 20px 40px;
}

.increase-course{
    display: flex;
    color: #e22820;
}

.unicode{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.increase{
    margin: 0 5px;
}

.bank-course{
    margin: 20px 210px;
    display: flex;
}

.sell-course{
    margin: 0 50px;
}

.old-course{
    font-size: 13px;
    color: #5d5c5c;
    text-decoration:line-through;
}

.euro-exchange{
    width: 640px;
    height: 75px;
    border-bottom: 1px solid #dedbdb;
    background-color: #fcfcfc;
    display: flex;
}

.poundsterling-exchange{
    width: 640px;
    height: 75px;
    border-bottom: 1px solid #dedbdb;
    background-color: #fcfcfc;
    display: flex;
}

.all-exchange{
    width: 640px;
    height: 75px;
    border-bottom: 1px solid #dedbdb;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #fcfcfc;
    display: flex;
    color: #e22820; 
}

.all-exchange p{
    font-size: 26px;
    font-family:'Courier New', Courier, monospace;
    font-weight:lighter;
    margin: 20px 240px;
}

.all-exchange h4{
    margin: 23px -220px;
    font-size:medium;
    font-weight: lighter;
    font-family:sans-serif;
}



.informational-box{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.offer{
    width: 640px;
    height: 210px;
    margin-top: 30px;
    background-color: #fcfcfc;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.team-box{
    width: 120px;
    height: 160px;
    border: 3px solid orangered;
    border-radius: 10px;
    margin-left: 25px;
    background-image: url(photo/image1.png) ;
    
}

.PLUS-discount{
    width: 120px;
    height: 160px;
    border: 3px solid orangered;
    border-radius: 10px;
    margin-left: 25px;
    background-image: url(photo/image2.png) ; 
}

.ordercard{
    width: 120px;
    height: 160px;
    border: 3px solid orangered;
    border-radius: 10px;
    margin-left: 25px;
    background-image: url(photo/image3.png) ; 
}

.PLUS{
    width: 120px;
    height: 160px;
    border: 3px solid orangered;
    border-radius: 10px;
    margin-left: 25px;
    background-image: url(photo/image4.png);
}



.contact-info{
    width: 640px;
    height: 240px;
    margin-top: 15px;
    background-color: #fcfcfc;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: 0.5s;
}

.full-name{
    width: 120px;
    height: 155px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.full-name:hover{
    background-color: #e7e6e6
}

.full-name h3{
    white-space: pre-line;
    font-weight: bold;
    font-size: medium;
    text-align: center;
}

.full-name img{
    width: 35px;
    height: 35px;
    border-radius: 10px;
    margin:0  40px;
}


.transfer{
    width: 120px;
    height: 155px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contact-box{
    width: 50px;
    height:50px ;
    margin: 0 35px;
    border-radius: 20px;
    background-color: #f5d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-box img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.transfer h3{
    white-space: pre-line;
    font-weight: bold; 
    font-size: medium;
    margin:20px;
    margin-top: -10px;
}

.transfer:hover{
    background-color: #e7e6e6
}

.more-info{
    width: 120px;
    height: 155px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    

}


.more-info:hover{
    background-color: #e7e6e6;
}

.more-info-box{
    width: 50px;
    height:50px ;
    border-radius: 20px;
    margin: 20px 35px;
    background-color: #f5d3d3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center ;
    color:orangered;
    font-weight:bold;
    font-size: medium;

}

.more-info h3{
    font-weight: bold;
    font-size: medium;
    margin-left: 10px;
    margin-top: -10px;
}

.templates{
    width: 640px;
    height: 240px;
    background-color:#fcfcfc;
    margin-top:15px;
}

.templates h3{
    color: #393838;
    margin: 35px 25px;
}

.enrollment{
    width: 50px;
    height:50px ;
    margin: 45px 60px;
    border-radius: 20px;
    background-color: #f5d3d3;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content:center;
}

.enrollment img{
    width: 30px;
    height:30px ;
    margin: 0 35px;
    border-radius: 20px;
    
}

.templates p{
    white-space: pre;
    color: black;
    font-weight: bold;
    margin-top: -60px;
    margin-left:-50px;

}

.transactions-info{
    width:640px ;
    height:350px;
    background-color:#fcfcfc ;
    margin-top: 15px;
    border-radius: 10px;
   
}

.title-box{
    height: 70px;
    border-top:1px solid #ddd
}

.title-box h3{
    margin: 25px 35px;
    color: #221414
}

.transaction-box{
    height: 70px;
    display: flex;
    padding: 10px;
    border-bottom:1px solid #ddd;
    display: flex;
    justify-content: space-around;
}

.transaction-box:hover{
    background-color: #f2f2f2;
}

.photo-icon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color:#f5d3d3; 
    background-image: url(photo/pers-logo.png);
}


.date{
    font-size: 12px;
    color: gray;
}

.description{
    font-size: 14px;
    margin-top: 5px;
}

.transferred-amount{
    font-size: 16px;
    font-weight: bold;
    margin-left:30px;
}

.amount{
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    color: green;
   
}

.vertical-dots{
    writing-mode: vertical-lr;
    font-size: 24px;
    line-height: 1;
   
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color:hsl(126, 100%, 75%); 
    margin-left:13px;
    background-image: url(photo/cursor.png );
   
}


.transaction{
    height: 70px;
    display: flex;
    padding: 10px;
    border-bottom:1px solid #ddd;
    display: flex;
}
.transaction:hover{
    background-color: #f2f2f2;
}


.personal-transcription{
    margin-left: 25px;
}

.personal-amount{
    font-size: 16px;
    font-weight: bold;
    margin-left: 40px;
    color: green;
    margin-left: 315px;
}

.three-dots{
    writing-mode: vertical-lr;
    font-size: 24px;
    line-height: 1;
    margin-left: 35px;
}

.all-info{
    height: 70px;
    display: flex;
    padding: 10px;
    border-bottom-right-radius:1px solid #ddd;
    color: #ffa600;
    margin-left: 200px;
    
}

.symbol{
    font-size: 24px;
    font-weight:bold;


}

.all-info h4{
    margin-left: 10px;
 
}


.footer-container{
    width: 100%;
    height: 500px;
     background-color: #f4f4f4;
     padding: 50px 20px;
   
}


.additional-info-box{
    width: 100%;
    height: 190px;
    border-top: 2px solid #dedbdb;
    
}

.operation-years{
    display: flex;
}

.operation-years p{
    margin-left: 10px;
    margin-top: 30px;
}

.operation-years img{
    width: 15px;
    height: 15px;
    margin-top: 33px;
}

.list-info{
    display: flex;
    gap:40px;
}

.list-info li{
    margin:10px 20px;
}


.list-info li:hover{
    text-decoration: underline;
}

.accessible-social-app a{
    margin: 0 15px;
    text-decoration: none;
}



.contact-info-box{
    width: 100%;
    height: 500px;
    background-color:#f4f4f4;
    padding: 50px 25px;
}

.contact-informations{
    width: 100%;
    height: 190px;
    border-top: 2px solid #ddd;
}

.fuctioning-years{
    display: flex;
    margin-top: 30px;
}


.fuctioning-years img{
    width: 15px;
    height: 15px;
}

.fuctioning-years p{
    margin-left: 10px;
}

.footer-menu{
    display: flex;
    gap:20px;
}

.footer-item{
    margin-left: 20px;
}

.contact-social a{
    margin-left: 20px;
    text-decoration: none;
}

.contact-social a:hover {
    background-color: #eaeaea;
}





